/* ============== common style ============== */
:root {
  --main-color: #ff6811;
  --scnd-color: #00000080;
  --noto: "Noto Serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
  color: black;
}

.container {
  width: 75%;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.subtitle {
  color: var(--scnd-color);
  line-height: 20px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: var(--noto);
}

h1 {
  font-size: 55px;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

h1 span,
h2 span {
  color: var(--main-color);
}

/* Buttons */
button,
.btn {
  width: 100%;
  height: 35px;
  background: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

/* ============== custom style ============== */

/* navbar */
header {
  padding-top: 40px;
}

header .container {
  display: flex;
  align-items: center;
}

.nav-logo {
  margin-right: auto;
  height: 60px;
}

.nav-logo img {
  height: 60px;
}

.nav-menu a {
  padding: 10px 10px;
  display: inline-block;
  color: var(--scnd-color);
}

.nav-menu a.active {
  color: black;
  font-weight: 600;
}

.nav-cart {
  padding-left: 20px;
}

.nav-cart a img {
  width: 25px;
  margin-right: 5px;
}

.nav-cart a {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

/* hero section */
.hero .container {
  height: calc(100vh - 100px);
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
}

.hero .hero-text h1 {
  padding-bottom: 20px;
}

.hero p.subtitle {
  width: 85%;
}

.hero-img img {
  width: 500px;
}

.hero-img {
  display: flex;
}

/* products section */
.plants-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
}

section.plants {
  padding: 50px 0px;
}

.plants-text p {
  width: 65%;
  padding-top: 10px;
  text-align: center;
}

.product-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 23%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.product-card h4 {
  text-align: center;
  padding-top: 15px;
  font-weight: 400;
}

.product-card p {
  text-align: center;
  font-weight: 600;
  padding: 10px 0px;
}

.product-card img {
  width: 100%;
}
